
.container{
  width: 80%;
  margin: 0 auto;
}
.height-medium{
  height: 3rem !important;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.head-title{
  margin-top: 15px;
  margin-left: 47px
}

.audio-block{
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-audio-player{
  margin-top: 55px;
  width: 500px;
}


.footer{
  margin-top: 15px;
  margin-left: 47px
}

.product-about-description{
  margin-bottom: 24px;
}

.product-tabs-heading{
  font-size: 28px;
  margin-bottom: 24px;
}

.product-tabs-heading-color{
  color: #d2d2d2;
}

.product-about-description-context{
  line-height: 1.9em;
  color: #595959;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text{
  font-size: 14px;
}
