<mat-dialog-content>
  <div class="modal-header">
    <h3 class="modal-heading">Change password</h3>
    <button class="modal-close" type="button" (click)="closeWindowChangePassword()">
      <svg viewBox="0 0 24 24">
        <path d="m18.295 7.11511c.3894-.38936.3894-1.02064 0-1.41-.3893-.38936-1.0206-.38936-1.41 0l-4.885
          4.88499-4.88499-4.88499c-.38936-.38936-1.02063-.38936-1.41 0-.38936.38936-.38936 1.02064 0 1.41l4.88499
          4.88499-4.88499 4.885c-.38936.3894-.38936 1.0206 0 1.41.38937.3894 1.02064.3894 1.41 0l4.88499-4.885 4.885
          4.885c.3894.3894 1.0207.3894 1.41 0 .3894-.3894.3894-1.0206 0-1.41l-4.885-4.885z"></path>
      </svg>
    </button>
  </div>
<!--  <div class="error head-title head-title-font" *ngIf="flagError">-->
<!--    <h3>{{errors.error.errorText}}</h3>-->
<!--  </div>-->
  <div class="error head-title head-title-font" *ngIf="flagErrors">
    <ul class="error-message">
      <li *ngFor="let error of errors">
        <h4>{{error.description}}</h4>
      </li>
    </ul>
  </div>
  <div class="error head-title head-title-font" *ngIf="flagErrorsFV">
    <ul class="error-message">
      <li *ngFor="let error of errorsFV">
        <ul>
          <li *ngFor="let errorValue of error.value">
            <p>{{errorValue.errorMessage}}</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="modal-content">
    <form [formGroup]="form">
      <fieldset>
        <div class="form-row">
          <label class="form-label">{{'CHANGE-PASSWORD.OLD-PASSWORD' | translate}}</label>
          <div class="form-row-with-btn">
            <input formControlName="oldPassword"
                   type="password"
                   placeholder="{{'PLACEHOLDER.OLD-PASSWORD' | translate}}"
                   [type]="hideOldPassword ? 'password' : 'text'">
            <button mat-icon-button
                    matSuffix
                    (click)="hideOldPassword = !hideOldPassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideOldPassword">
              <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
          <p class="error-message" *ngIf="oldPassword!.invalid">{{getErrorMessageOldPassword()}}</p>
        </div>

        <div class="form-row">
          <label class="form-label">{{'CHANGE-PASSWORD.NEW-PASSWORD' | translate}}</label>
          <div class="form-row-with-btn">
            <input formControlName="newPassword"
                   type="password"
                   placeholder="{{'PLACEHOLDER.NEW-PASSWORD' | translate}}"
                   [type]="hideNewPassword ? 'password' : 'text'">
            <button mat-icon-button
                    matSuffix
                    (click)="hideNewPassword = !hideNewPassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideNewPassword">
              <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
          <p class="error-message" *ngIf="newPassword!.invalid">{{getErrorMessageNewPassword()}}</p>
        </div>

        <div class="form-row">
          <label class="form-label">{{'CHANGE-PASSWORD.NEW-CONFIRM-PASSWORD' | translate}}</label>
          <div class="form-row-with-btn">
            <input formControlName="newConfirmPassword"
                   type="password"
                   placeholder="{{'PLACEHOLDER.NEW-CONFIRM-PASSWORD' | translate}}"
                   [type]="hideNewConfirmPassword ? 'password' : 'text'"/>
            <button mat-icon-button
                    matSuffix
                    (click)="hideNewConfirmPassword = !hideNewConfirmPassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideNewConfirmPassword">
              <mat-icon>{{hideNewConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
          <p class="error-message" *ngIf="newConfirmPassword!.invalid">{{getErrorMessageNewConfirmPassword()}}</p>
        </div>

        <div class="form-row"></div>

        <div class="form-row change-password-footer">
          <button type="button"
                  class="
                    button
                    button-link
                    button-medium" (click)="closeWindowChangePassword()">{{'BUTTON.CANCEL' | translate}}</button>

          <button type="submit"
                  [disabled]="!form.valid"
                  class="button button-navy button-medium"
                  (click)="onSave()">{{'BUTTON.SAVE' | translate}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</mat-dialog-content>
