<footer class="footer-font footer-custom footer-wrap">
 <div class="wrapper container">
   <div class="empty-space height-medium" style="height: 32px">
     <span class="empty-space-inner"></span>
   </div>
   <div class="sc-content-container">
     <div class="web-column">
       <div class="contact-logo">
         <span>Logo</span>
       </div>
       <div class="contact-description">
         <p>{{'FOOTER.WEB-COLUMN-1.CONTACT-DESCRIPTION' | translate}}</p>
       </div>
       <div class="contact-info">
         <span class="contact-address"><img src="../../../assets/footer-assets/location.png">New Lenox, Chicago, IL 60606</span>
         <span class="contact-email"><img src="../../../assets/footer-assets/mail.png" alt="error"> info@yoursite.com </span>
         <span class="contact-phone"><img src="../../../assets/footer-assets/phone.png">(800) 123-4567</span>
       </div>
     </div>
     <div class="web-column">
       <div class="title">
         <span>{{'FOOTER.WEB-COLUMN-2.TITLE' | translate}}</span>
       </div>
       <div class="contact-description">
         <p>{{'FOOTER.WEB-COLUMN-2.CONTACT-DESCRIPTION' | translate}}</p>
       </div>
       <div class="contact-info">
         <span class="">{{'FOOTER.WEB-COLUMN-2.INFO-1' | translate}}</span>
         <span class="">{{'FOOTER.WEB-COLUMN-2.INFO-2' | translate}}</span>
         <span class="">{{'FOOTER.WEB-COLUMN-2.INFO-3' | translate}}</span>
       </div>
     </div>
     <div class="web-column">
       <div class="title">
         <span>{{'FOOTER.WEB-COLUMN-3.TITLE' | translate}}</span>
       </div>
       <div class="contact-description">
         <p>{{'FOOTER.WEB-COLUMN-3.CONTACT-DESCRIPTION' | translate}}</p>
       </div>
       <div class="contact-info">
         <span class="">{{'FOOTER.WEB-COLUMN-3.INFO-1' | translate}}</span>
         <span class="">{{'FOOTER.WEB-COLUMN-3.INFO-2' | translate}}</span>
         <span class="">{{'FOOTER.WEB-COLUMN-3.INFO-3' | translate}}</span>
       </div>
     </div>
   </div>
 </div>

</footer>
